@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.header {
    background: #01274e;
    padding: 10px;
    color: rgba(255, 255, 255, 0.897);
}

nav {
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 1;
    align-items: center;
}

.logo {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.897);
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 0.2em;
    padding-top: 45px;
    padding-left: 8%;
    cursor: pointer;
}

.nav-link {
    text-align: right;
    padding: 25px 0px;
    font-weight: bold;
}

.nav-link ul li {
    list-style: none;
    display: inline-block;
    padding: 10px 25px;
}

.nav-link ul li a {
    color: rgba(255, 255, 255, 0.897);
    text-decoration: none;
    font-size: 18px;
    width: 25%;
    padding: auto;
    margin: 32px 0;
}

hr {
    height: 35px;
    width: 25%;
    margin: -40px 0px 0px -5px;
    background: linear-gradient(to right, #ff921e, #ffd3a5);
    border: 1px;
    border-radius: 50px;
    transition: .5s ease-in-out;
}

.two:hover~hr {
    margin-left: 26%;
}

.three:hover~hr {
    margin-left: 51%;
}

.four:hover~hr {
    margin-left: 76%;
}

.left-sidebar {
    height: 100%;
    width: 30%;
    position: fixed;
    left: 0;
    top: 0;
    background: #e8eef1;
}


.row {
    padding: 0 10%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    position: relative;
    margin-top: 5%;
}

.left-col {
    flex-basis: 40%;
}

.right-col {
    flex-basis: 90%;
}

/* .left-col img {
    width: 70%;
    border-radius: 20px;
    cursor: pointer;
    filter: grayscale(1);
    transition: filter 0.5s;
}

.left-col img:hover {
    filter: grayscale(0);
} */

.right-col h1 {
    font-size: 50px;
    font-weight: 600;
}

.right-col p {
    color: white;
    margin: 10px 0 10px;
}

.social-media {
    display: flex;
    margin-top: 30px;
}

.icon {
    width: 100px;
    height: 100px;
    background: rgba(255, 255, 255, 0.897);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-right: 20px;
    margin-bottom: 20px;
    border-radius: 6px;
    overflow: hidden;
    transition: transform 0.5s;
}

/* .icon img {
    width: 28px;
} */

.icon a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #22577A;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: 0.5s;
}

.icon a:hover {
    opacity: 1;
}

.icon:hover {
    transform: translateY(-5px);
}

.button {
    background-color: #5fd1c5;
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    border-radius: 15px;
    cursor: pointer;
}

.button2 {
    background-color: #ff921e;
    border: none;
    color: white;
    padding: 5px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    border-radius: 15px;
    cursor: pointer;
}

.button2:hover {
    background-color: white;
    color: #ff921e;
}

.button:hover {
    background-color: white;
    color: #5fd1c5;
}

.column {
    padding: 20px 0px 20px 0px;
}

input[type=text] {
    background-color: white;
    color: black;
    border: none;
    border-radius: 15px;
    font-size: 16px;
    padding: 10px 32px;
    transition-duration: 0.4s;
}

.content {
    background-color: white;
    padding: 50px;
    text-align: center;
}

.box {
    margin: auto;
    width: 60%;
    border: 3px dashed #ff921e;
    padding: 150px 200px;
    flex-direction: column;
}

.ouoter {
    padding: 10px;
}

.text {
    text-align: center;
    padding: 0px 0px 20px;
}

.wrapper {
    background-color: white;
    padding: 50px 100px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition-duration: 0.4s;
}

.wrapper:hover {
    background-color: #ff921e;
    color: white;
}

.file-upload {
    height: 150px;
    width: 150px;
    border-radius: 100px;
    /* position: relative; */
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px solid #FFFFFF;
    overflow: hidden;
    background-image: linear-gradient(to bottom, #01274e 50%, #FFFFFF 50%);
    background-size: 100% 200%;
    transition: all 1s;
    color: #FFFFFF;
    font-size: 100px;
}

input[type='file'] {
    height: 350px;
    width: 955px;
    position: absolute;
    top: 230px;
    left: 265px;
    opacity: 0;
    cursor: pointer;
}

.file-upload:hover {
    background-position: 0 -99%;
    color: #01274e;
}

.fa {
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}

.fa-arrow-up:before {
    content: "\f062";
}

/* buat scroll table */

table.scroll {
    width:500px;
    border:1px #a9c6c9 solid;
}
table.scroll thead {
    display:table;
    width:100%;
    background-color: salmon;
}
table.scroll tbody {
    display:block;
    height:200px;
    overflow:auto;
    float:left;
    width:100%;
}
table.scroll tbody tr {
    display:table;
    width:100%;
}
table.scroll th, td {
    width:33%;
    padding:8px;
}